* {
  margin: 0;
  padding: 0;
}

input, button {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

button {
  padding: 10px;
  width: 20rem;
  height: 5rem;
  border: none;
  background-color: #596D48;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.icon {
  width: 25px;
}

.profile-photo {
  width: 100px;
}

.logo {
  width: 100px;
}

.main-container {
  font-family: 'Raleway';
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr 4fr;

  width: 100vw;
  height: 100vh;
}

.main-nav-container {
  /* border: 5px solid rgb(0, 166, 255); */
  background-color: #d8b4fe;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 1fr 4fr 5fr;
}

.main-nav-container {
  fill: white;
  color: white;
  font-weight: 900;
  font-size: clamp(1rem, -0.875rem + 2.333vw, 3.5rem);

  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

}

.logo-container {
  display: flex;
  align-items: center;

  margin: 20px;
}

.nav1-container {
  display: grid;
}

.nav-page {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 20px;
}

.header-container {
  grid-row: 1 / 2;
  grid-column: 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  padding: 1.5rem;

  font-weight: bolder;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-right: 5rem;
}

.search {
  display: flex;
  align-items: center;
}

.search-bar {
  border: none;
  background-color: rgb(241, 241, 241);
  border-radius: 20px;
  width: 40rem;
  height: 3.5rem;
  padding-left: 20px;
  font-size: 20px;

  margin-left: 1rem;

}

.search .icon {
  width: 2.5rem;
}

.notif {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.notif .profile-photo {
  width: 3.5rem;
  margin: 20px;
}

.notif > .full-name {
  /* font-size: 1.2em; */
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hello {
  display: flex;
  align-items: center;
}


.article-container {
  /* border: 5px solid rgb(255, 0, 0); */
  /* grid-column: ; */
}